.header-container{
    background-color: #fed300;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 30px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-logo{
    max-height: 5vh;
    margin-right: auto;
}