.sliderimg{
    width: 100%;  
    max-height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.slider-title{
   color: #fed300;
   font-weight: bold;
  
}